<div class="w-full mt-2">
  <p class="text-slate-200 text-sm">{{ attribute }} (<span *ngIf="valueLabel !== ''">{{ valueLabel }}</span><span *ngIf="valueLabel === ''">{{ value }}/{{ maxValue }}</span>)</p>
  <div class="w-full bg-gray-900 rounded h-4 mt-1">
    <div
      class="h-4 rounded transition"
      [ngClass]="{
        'bg-red-600':
          color == 'red' || (color == 'hunger' && value <= 3) || color == 'thirst' && value < 3,
        'bg-cyan-600': color == 'cyan',
        'bg-blue-600': color == 'blue',
        'bg-slate-300': color == 'gray',
        'bg-violet-600': color == 'violet',
        'bg-emerald-600': color == 'emerald',
        'bg-green-600':
          color == 'green' ||
          (color == 'hunger' && value >= 6) || (color == 'thirst' && value == 6),
        'bg-orange-600':
          color == 'hunger' && value > 3 && value <= 6 ||
          color == 'thirst' && value < 6 && value >= 3
        }"
      [ngStyle]="{ width: getWidthString() }"
    ></div>
  </div>
</div>
