<main class="font-serif">
  <div class="border-b mb-2 flex justify-between items-center">
    <h1 class="text-xl">{{ topic.name }}</h1>
    <div class="flex gap-1 items-center">
      <button
        class="border p-1 bg-blue-500 hover:bg-blue-600 text-white text-xs rounded"
        (click)="doEditTopic()"
      >
        Edit
      </button>
      <button
        class="border p-1 cursor-pointer bg-red-500 hover:bg-red-600 text-white text-xs rounded"
      >
        Delete
      </button>
    </div>
  </div>
  <div>
    <div class="float-right border p-2 text-xs flex flex-col items-center gap-2" *ngIf="topic.isCharacter">
      <h2 class="font-semibold">Character</h2>
      <div class="grid grid-cols-2 justify-center gap-4">
        <p class="font-semibold text-end">Sdesc</p>
        <p class="text-start">{{topic.sdesc}}</p>
      </div>
    </div>
    <p [innerHtml]="topic.content"></p>  
  </div>
</main>
