<app-topic-view (showChanged)="processDialogStatus($event)"></app-topic-view>
<app-topic-editor
  (showChanged)="processDialogStatus($event)"
></app-topic-editor>
<div>
  <app-topics-database
    (close)="showCharacters = false"
    [active]="showCharacters"
    (viewTopic)="openTopic($event)"
  ></app-topics-database>

  <!-- Reconnect View -->
  <div
    *ngIf="showReconnectView()"
    class="flex justify-center items-center h-screen w-screen bg-gray-800 overflow-hidden"
  >
    <app-reconnect-view></app-reconnect-view>
  </div>

  <!-- Core App View -->
  <div *ngIf="showAppView()" class="flex h-screen w-screen bg-gray-800 overflow-hidden">
    <app-character-panel
      class="w-1/6"
      (clickOn)="handleClick($event)"
      (dialogOpen)="processDialogStatus($event)"
    ></app-character-panel>
    <app-terminal-client
      class="grow"
      [ngClass]="{ invisible: showCharacters || dialogOpen }"
    >
      <app-input class="w-full"></app-input>
    </app-terminal-client>
    <app-feed class="w-1/6"></app-feed>
  </div>
</div>
