<div
  class="h-full w-full flex flex-col justify-end bg-gray-900 p-2 pb-4 pl-4 pr-4"
>
  <!--
    @TODO: Character data to be used in the future
    <p>{{ character.longDescriptionStatus }}</p>
    <p>{{ character.longDescription }}</p>
    <p>{{ character.visibility }}</p>
    <p>{{ character.mount }}</p>
    <p>{{ character.mood }}</p>
    <p>{{ character.stance }}</p>
    <p>{{ character.drunk }}</p>
    <p>{{ character.combatQuit }}</p>
  -->

  <!-- Character Card -->
  <div
    id="character-card"
    class="
      relative
      p-4
      bg-slate-800
      rounded
      select-none cursor-default
    "
  >
    <!-- Character Unlock Button -->
    <div
      class="absolute bottom-1 right-2"
    >
      <ng-icon
        *ngIf="characterSummaryCardLocked"
        name="ionLockClosed"
        class="text-slate-200 cursor-pointer hover:cursor_pointer hover:text-slate-300"
        (click)="toggleCharacterSummaryCardLocked()"
      ></ng-icon>
      <ng-icon
        *ngIf="!characterSummaryCardLocked"
        name="ionLockOpen"
        class="text-slate-200 cursor-pointer hover:cursor-pointer hover:text-slate-300"
        (click)="toggleCharacterSummaryCardLocked()"
      ></ng-icon>
    </div>

    <!-- Character Name -->
    <div class="flex justify-between">
      <h1 class="text-2xl leading-none text-slate-200">{{ character.name }}</h1>
    </div>

    <div
      class="summary-item-list flow"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListDisabled]="characterSummaryCardLocked"
    >
      <div
        id="{{ item.id }}"
        *ngFor="let item of itemList"
        (dblclick)="toggleItemHiddenOnDoubleClick($event, item.id)"
        cdkDrag
      >
        <div
          class="
            summary-item-outer
            inner toggle-on-click
            h-0 overflow-hidden
            transition-height linear duration-100 delay-[150ms]
          "
          [attr.data-collapsed]="!item.show"
          [ngClass]="{
            'toggle-on-unlock': !item.show
          }"
          [ngStyle]="{ 'height': item.show && '20px' }"
        >
          <app-character-summary-item
            [variant]="item.variant"
            [data]="item.data || []"
            [visibility]="item.visibility"
            [unlocked]="!characterSummaryCardLocked"
          ></app-character-summary-item>
        </div>
      </div>
    </div>
  </div>

  <!-- Attribute Bars -->

  <!-- Health -->
  <app-attribute-progress-bar
    attribute="Health"
    color="red"
    [value]="character.hp"
    [maxValue]="character.maxHp"
  ></app-attribute-progress-bar>
  <!-- Stun -->
  <app-attribute-progress-bar
    attribute="Stun"
    color="gray"
    [value]="character.stun"
    [maxValue]="character.maxStun"
  ></app-attribute-progress-bar>
  <!-- Stamina -->
  <app-attribute-progress-bar
    attribute="Stamina"
    color="emerald"
    [value]="character.stamina"
    [maxValue]="character.maxStamina"
  ></app-attribute-progress-bar>
  <!-- Mana -->
  <app-attribute-progress-bar
    attribute="Mana"
    color="blue"
    [value]="character.mana"
    [maxValue]="character.maxMana"
  ></app-attribute-progress-bar>
  <!-- Focus -->
  <app-attribute-progress-bar
    attribute="Focus"
    color="violet"
    [value]="character.focus"
    [maxValue]="character.maxFocus"
  ></app-attribute-progress-bar>
  <!-- Hunger -->
  <app-segmented-attribute-progress-bar
    attribute="Hunger"
    [value]="getHungerValue()"
    [valueLabel]="character.hunger"
  ></app-segmented-attribute-progress-bar>
  <!-- Thirst -->
  <app-segmented-attribute-progress-bar
    attribute="Thirst"
    [value]="getThirstValue()"
    [valueLabel]="character.thirst"
  ></app-segmented-attribute-progress-bar>
</div>
