<div
  class="h-full w-full flex flex-col justify-end bg-gray-900 p-2 pb-4 pl-4 pr-4"
>
  <!--
    @TODO: Character data to be used in the future
    <p>{{ character.longDescriptionStatus }}</p>
    <p>{{ character.longDescription }}</p>
    <p>{{ character.visibility }}</p>
    <p>{{ character.flying }}</p>
    <p>{{ character.mount }}</p>
    <p>{{ character.mood }}</p>
    <p>{{ character.stance }}</p>
    <p>{{ character.drunk }}</p>
    <p>{{ character.combatQuit }}</p>
  -->

  <!-- Character Card -->
  <div
    id="character-card"
    class="
      relative
      p-4
      bg-slate-800
      rounded
      select-none cursor-default
    "
  >

    <!-- Character Unlock Button -->
    <div
      class="absolute bottom-1 right-2"
    >
      <ng-icon
      *ngIf="characterSummaryCardLocked"
      name="ionLockClosed"
      class="text-slate-200 cursor-pointer hover:cursor_pointer hover:text-slate-300"
      (click)="toggleCharacterSummaryCardLocked()"></ng-icon>
      <ng-icon
        *ngIf="!characterSummaryCardLocked"
        name="ionLockOpen"
        class="text-slate-200 cursor-pointer hover:cursor-pointer hover:text-slate-300"
        (click)="toggleCharacterSummaryCardLocked()"></ng-icon>
    </div>

    <!-- Character Name -->
    <div class="flex justify-between">
      <h1 class="text-2xl leading-none text-slate-200">{{ character.name }}</h1>
    </div>

    <!-- Armed Status -->
    <div
      class="
        toggle-on-unlock-enabled-armed
        overflow-hidden
        transition-height linear duration-300
      "
      [attr.data-collapsed]="false"
    >
      <div
        class="
          text-sm
          flex items-center gap-1
          transition-colors ease-in-out duration-150
        "
        [ngClass]="{
          'text-slate-200': character.armed == 'armed',
          'text-slate-600': character.armed !== 'armed',
          'hover:text-orange-600 cursor-pointer': !characterSummaryCardLocked
        }"
        (click)="toggleCharacterSummaryCardItemState('armed')"
      >
        <ng-icon name="jamSwordF" *ngIf="character.armed == 'armed'"></ng-icon>
        <ng-icon name="matFrontHand" *ngIf="character.armed == 'unarmed'"></ng-icon>
        <p>{{ character.armed }}</p>
      </div>
    </div>

    <!-- Time -->
    <div class="flex text-slate-200 text-sm items-center gap-1">
      <ng-icon
        name="matNightlight"
        *ngIf="
          character.time == 'late at night' || character.time == 'before dawn'
        "
      ></ng-icon>
      <ng-icon
        name="matWbSunny"
        *ngIf="
          character.time == 'early morning' ||
          character.time == 'late morning' ||
          character.time == 'high sun' ||
          character.time == 'early afternoon' ||
          character.time == 'late afternoon'
        "
      ></ng-icon>
      <ng-icon
        name="matWbTwilight"
        *ngIf="character.time == 'dawn' || character.time == 'dusk'"
      ></ng-icon>
      <p>{{ character.time }} on {{ character.day }}</p>
    </div>

    <!-- Speed -->
    <div class="flex text-slate-200 text-sm items-center gap-1">
      <ng-icon name="ionFootsteps" *ngIf="character.speed"></ng-icon>
      <p *ngIf="character.speed">
        {{ character.speed }}
      </p>
    </div>

    <!-- Flying Status -->
    <div
      class="
        toggle-on-unlock-enabled-flying
        h-0 overflow-hidden
        transition-height linear duration-300
      "
      [attr.data-collapsed]="true"
    >
      <div
        class="flex items-center gap-1 text-sm"
        [ngClass]="{
          'text-slate-200': character.flying,
          'text-slate-600': !character.flying
        }"
        (click)="toggleCharacterSummaryCardItemState('flying')"
      >
        <ng-icon name="featherFeather"></ng-icon>
        <p>
          {{ character.flying ? "flying" : "not flying" }}
        </p>
      </div>
    </div>

    <!-- Encumbrance -->
    <div
      class="flex  text-slate-200 text-sm items-center gap-1"
      *ngIf="character.encumbrance"
    >
      <ng-icon name="heroScaleSolid"></ng-icon>
      <p>{{ character.encumbrance }}</p>
    </div>

    <!-- Character Position -->
    <div class="flex text-slate-200 text-sm items-center gap-1">
      <ng-icon name="matBoy" *ngIf="character.position == 'standing'"></ng-icon>
      <ng-icon
        name="matChairAlt"
        *ngIf="character.position == 'sitting'"
      ></ng-icon>
      <ng-icon name="matBed" *ngIf="character.position == 'resting'"></ng-icon>
      <p>{{ character.verbosePosition }}</p>
    </div>

    <!-- Accent and Language -->
    <div class="flex text-slate-200 text-sm items-center gap-1">
      <ng-icon name="matTranslate" *ngIf="character.accent"></ng-icon>
      <p *ngIf="character.accent">
        {{ character.accent }}-accented {{ character.language }}
      </p>
    </div>

    <!-- Scan Status -->
    <div
      class="flex text-slate-200 text-sm items-center gap-1"
      [ngClass]="{
        'text-slate-200': character.scan,
        'text-slate-600': !character.scan
      }"
    >
      <ng-icon name="ionEye"></ng-icon>
      <p>
        {{ character.scan.toLowerCase() ? "scanning" : "not scanning" }}
      </p>
    </div>

    <!-- Listen Status -->
    <div
      class="flex text-slate-200 text-sm items-center gap-1"
      [ngClass]="{
        'text-slate-200': character.listen,
        'text-slate-600': !character.listen
      }"
    >
      <ng-icon name="ionEar"></ng-icon>
      <p>
        {{ character.listen ? "listening" : "not listening" }}
      </p>
    </div>

    <!-- Hidden Character Summary Card Items -->
    <div
      class="
        toggle-on-unlock
        h-0 overflow-hidden
        transition-height linear duration-300
      "
      [attr.data-collapsed]="true"
    >
      <!-- Separator -->
      <div
        class="
          flex items-center gap-1 pt-2 pb-2
        "
        [ngClass]="{
          'opacity-1 fade-in': !characterSummaryCardLocked,
          'opacity-0 fade-out': characterSummaryCardLocked
        }"
      >
        <div
          class="w-full border-b border-solid border-slate-400 text-sm text-slate-400">
          Hidden - click to show
        </div>
      </div>
    </div>

    <!-- Armed Status -->
    <div
      class="
        toggle-on-unlock-disabled-armed
        h-0 overflow-hidden
        transition-height linear duration-300
      "
      [attr.data-collapsed]="true"
    >
      <div
        class="
          flex items-center gap-1
          text-slate-200 text-sm
          transition-colors ease-in-out duration-150
        "
        [ngClass]="{
          'opacity-1 fade-in': !shouldShowCharacterSummaryCardItem('armed') || !characterSummaryCardLocked,
          'opacity-0 fade-out': shouldShowCharacterSummaryCardItem('armed') || characterSummaryCardLocked,
          'hover:text-orange-600 cursor-pointer': !characterSummaryCardLocked
        }"
        (click)="toggleCharacterSummaryCardItemState('armed')"
      >
        <ng-icon name="jamSwordF" *ngIf="character.armed == 'armed'"></ng-icon>
        <ng-icon name="matFrontHand" *ngIf="character.armed == 'unarmed'"></ng-icon>
        <p>{{ character.armed }}</p>
      </div>
    </div>

    <!-- Flying Status -->
    <div
      class="
        toggle-on-unlock-disabled-flying
        h-0 overflow-hidden
        transition-height linear duration-300
      "
      [attr.data-collapsed]="true"
    >
      <div
        class="flex items-center gap-1 text-sm text-slate-200"
        [ngClass]="{
          'opacity-1 fade-in': !shouldShowCharacterSummaryCardItem('flying') || !characterSummaryCardLocked,
          'opacity-0 fade-out': shouldShowCharacterSummaryCardItem('flying') || characterSummaryCardLocked
        }"
        (click)="toggleCharacterSummaryCardItemState('flying')"
      >
        <ng-icon name="featherFeather"></ng-icon>
        <p>
          {{ character.flying ? "flying" : "not flying" }}
        </p>
      </div>
    </div>

  </div>

  <!-- Attribute Bars -->

  <!-- Health -->
  <app-attribute-progress-bar
    attribute="Health"
    color="red"
    [value]="character.hp"
    [maxValue]="character.maxHp"
  ></app-attribute-progress-bar>
  <!-- Stun -->
  <app-attribute-progress-bar
    attribute="Stun"
    color="gray"
    [value]="character.stun"
    [maxValue]="character.maxStun"
  ></app-attribute-progress-bar>
  <!-- Stamina -->
  <app-attribute-progress-bar
    attribute="Stamina"
    color="emerald"
    [value]="character.stamina"
    [maxValue]="character.maxStamina"
  ></app-attribute-progress-bar>
  <!-- Mana -->
  <app-attribute-progress-bar
    attribute="Mana"
    color="blue"
    [value]="character.mana"
    [maxValue]="character.maxMana"
  ></app-attribute-progress-bar>
  <!-- Focus -->
  <app-attribute-progress-bar
    attribute="Focus"
    color="violet"
    [value]="character.focus"
    [maxValue]="character.maxFocus"
  ></app-attribute-progress-bar>
  <!-- Hunger -->
  <app-segmented-attribute-progress-bar
    attribute="Hunger"
    [value]="getHungerValue()"
    [valueLabel]="character.hunger"
  ></app-segmented-attribute-progress-bar>
  <!-- Thirst -->
  <app-segmented-attribute-progress-bar
    attribute="Thirst"
    [value]="getThirstValue()"
    [valueLabel]="character.thirst"
  ></app-segmented-attribute-progress-bar>
</div>
