<app-blurred-background [show]="show">
  <app-card class="w-full h-full p-4" (close)="changeShow(false)">
    <div class="p-4 w-full">
      <app-is-aselector
        [type]="topic.isA"
        (typeChanged)="changeType($event)"
      ></app-is-aselector>
      <div class="grid grid-cols-2 w-full gap-2">
        <div class="mt-4">
          <p class="text-xs text-gray-500 font-semibold">Name</p>
          <input
            type="text"
            class="mt-2 rounded border border-green-500 px-2 py-1 w-full"
            placeholder="Topic Name"
            [(ngModel)]="topic.name"
          />
        </div>
        <div
          class="mt-4"
          *ngIf="topic.isA == 'character' || topic.isA == 'object'"
        >
          <p class="text-xs text-gray-500 font-semibold">Sdesc</p>
          <input
            type="text"
            class="mt-2 rounded border border-green-500 px-2 py-1 w-full"
            placeholder="Sdesc"
            [(ngModel)]="topic.sdesc"
          />
        </div>
      </div>
      <div class="mt-4 w-full flex justify-center">
        <quill-editor [(ngModel)]="topic.content" class="w-full"></quill-editor>
      </div>
    </div>
    <div class="flex p-4 mt-8">
      <button
        class="bg-green-500 text-white px-2 py-1 rounded hover:bg-green-600 transition"
        (click)="saveTopic()"
      >
        Save
      </button>
    </div>
  </app-card>
</app-blurred-background>
